/* PAGE */

@import url('https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans:200,400,500');
body,
.pure-g [class*=pure-u] {
  font-family: 'Alegreya Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Alegreya Sans', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}



/* *****
/* Landing Display
/* ***** */

.loading{
  background-color: inherit;
  height: 500px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  padding-top: 50px;
}

.admin-display .loading,
.owner-display .loading{
  color: #fff;
}

.landing {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 10px 20px 0px;
  background-image: url("./css/6.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  border-bottom: 100px;
}


.MaatsHeader{
  margin-left: 60px;
  margin-bottom: 30px;
  height: 130px;
}

.MaatsHeader h1{
  font-size: 70px;
  font-weight: 400;
  color: #FFFFFF;
  float: left;
}


.MaatsHeader img{
  padding-right: 10px;
  padding-top: 20px;
  height: 110px;
  float: left;
}

.currentNetwork{
  float: right;
  color: #FFFF;
  font-size: 25px;
  margin-right: 180px;
  margin-top: 80px;
}

.dot{
  height: 10px;
  width: 10px;
  margin-right: 5px;
  margin-bottom: 3px;
  background-color: #F41010;
  border-radius: 50%;
  display: inline-block;
}

.title{
  text-align: center;
  align-content: center;
  font-size: 80px;
  color: #F8DE4C;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 100px;
}

/* *****
/* About Display
/* ***** */

.aboutWrapper{
  background-image: url("./css/about.png");
  background-size:cover;
  width: 100%;
  height: 500px;
}

.about p{
  width: 45%;
  margin-left: 50%;
  font-size: 30px;
  color: #FFF;
  margin-top: 0;
  padding-top: 80px;

}

/* *****
/* Stores Display
/* ***** */

.storesDisplayWrapper{
  margin-top: 30px;
  text-align:center;
}

.storesDisplayWrapper h1{
  font-size: 80px;
  color: #5E1D8B;
}
/*
.storesDisplayWrapper p{
  font-size: 40px;
  color: #5E1D8B;
}*/

.stores-display{
  width: 90%;
  display: inline-block;
}


.StoreFront{
  margin-top: 120px;
  margin-bottom: 40px;
}

.StoreFront:first-child{
  margin-top: 80px;
}

.listStores{
  margin-bottom: 100px;
  height: 100%;
}

.logoFrame{
  height: 300px;
  width: 45%;
  border-radius: 15%;
  display: inline-block;
  float: left;
  margin-bottom: 10px;
}

.StoreFront:nth-child(odd) .logoFrame{
  background-color: #F7A824;
}

.StoreFront:nth-child(even) .logoFrame{
  background-color: #AE44B8;
}


.logoFrame img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  max-width: 80%;
  max-height: 80%;
}

.buttonFrame{
  display: block;
  margin:auto;
  padding-top: 25px;
}

.buttonFrame h1{
  font-size: 50px;
  color: #000;
}

.buttonFrame button{
  display: inline-block;
  padding: 15px 25px;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 100px;
  height: 70px;
  border-radius: 15px;
  background-color: #F8DE4C;
  font-size: 35px;
  font-weight: 500;
  transition: all 0.3s;
}

.buttonFrame button:hover{
  color: #fff;
  background: #EB6D05;
}
/* *****
/* Maats Owner Section
/* ***** */

.owner-display,
.admin-display,
.storeOwnerDisplay,
.storeAdminDisplay{
  width: 100%;
  background-color: #5E1D8B;
  margin: auto;
}

/*.storeOwnerDisplay,
.storeAdminDisplay{
  width: 99%;
  margin:0 auto;
}*/

.MaatsOwnerFunctions,
.checkAdminHandlerWrapper,
.storeOwnerFunctionsWrapper,
.storeAdminFunctionsWrapper {
  width: 90%;
  display: inline-block;
  margin-left: 5%;
  padding-bottom: 40px;
}

.createStoreAdmin,
.removeStoreAdmin,
.CurrentAdmins,
.ChangeProductPrice,
.createProducts,
.addInventoryWrapper{
  text-align: left;
  margin-bottom: 20px;
  margin-left: -40px;
}


.storeOwnerFunctionsWrapper,
.storeAdminFunctionsWrapper{
  margin-left: 0;
}

.MaatsOwnerFunctions h1,
.checkAdminHandlerWrapper h1,
.storeOwnerFunctionsWrapper h1,
.storeAdminFunctionsWrapper h1{
  align-content: center;
  text-align: center;
  font-size: 60px;
  font-weight: 200;
  color: #F8DE4C;
}

/*.storeOwnerFunctionsWrapper h1,
.storeAdminFunctionsWrapper h1{
  margin-left: 0;
}*/

.MaatsOwnerFunctions h3,
.checkAdminHandlerWrapper h3,
.storeOwnerFunctionsWrapper h3,
.storeAdminFunctionsWrapper h3{
  font-size: 40px;
  color: #FFF;
  margin-left: 33%;
}

/*
.storeOwnerFunctionsWrapper h3,
.storeAdminFunctionsWrapper h3{
  align-content: center;
  margin-left: -25%;
}*/

.MaatsOwnerFunctions p,
.checkAdminHandlerWrapper p,
.storeOwnerFunctionsWrapper p,
.storeAdminFunctionsWrapper p{
  font-size: 20px;
  color: #FFF;
  text-align: left;
  margin-left: 33%
}

.storeOwnerFunctionsWrapper h4,
.storeAdminFunctionsWrapper h4{
  font-size: 30px;
  color: #fff;
  text-align: center;
}

 .MaatsOwnerFunctions div.setEscrowButton button{
  margin-left: 5px;
}

.MaatsOwnerFunctions div.PauseToggleButton button{
  margin-left: 33%;
}

.MaatsOwnerFunctions button,
.checkAdminHandlerWrapper button,
.storeOwnerFunctionsWrapper button,
.storeAdminFunctionsWrapper button{
  display: inline-block;
  padding: 15px 20px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  /*border: 3px solid #AE44B8 ;*/
  border: none;
  min-width: 20%;
  min-height: 50px;
  border-radius: 15px;
  background-color:#F7A824 ;
  font-size: 25px;
  font-weight: 500;
  margin-left: 33%;
  color: #000;
  cursor:pointer;
  overflow: hidden;
  transition:all 0.3s;
}

/*.storeOwnerFunctionsWrapper button,
.storeAdminFunctionsWrapper button{
  margin-left: -40.4%;
  align-content: center;
}*/

.MaatsOwnerFunctions button:after,
 .checkAdminHandlerWrapper button:after,
 .storeOwnerFunctionsWrapper button:after
 .storeAdminFunctionsWrapper button:after{
  width:100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}



.MaatsOwnerFunctions button:hover,
.checkAdminHandlerWrapper button:hover,
.storeOwnerFunctionsWrapper button:hover,
.storeAdminFunctionsWrapper button:hover{
  color: #EB6D05;
  background: #fff;
}

.MaatsOwnerFunctions button:hover:after,
.checkAdminHandlerWrapper button:hover:after,
.storeOwnerFunctionsWrapper button:hover:after,
.storeAdminFunctionsWrapper button:hover:after,{
  height: 260%;
  opacity: 1;
}


.PauseToggleButton button{
  float:left;

}

.RemoveAdmins{
  margin-top: 40px;
}

.CurrentAdmins li{
  color: #FFF;
  margin-left: 33%;
  font-size: 20px;
  list-style: decimal;
  text-align: left;
  padding-left: 5px;
  letter-spacing: 1px;
}


/* *****
/* Opened Store Rendering
/* ***** */

.renderedStore{
  border: 10px solid #fff;
  border-radius: 20px;
  margin-bottom: 30px;
  background-image: url("./css/storeBanner.jpg");
  background-size: contain;
  background-repeat: no-repeat;

}


.storeHeader h1{
  margin-bottom: 40px;

}

.storeHeader img{
  width: auto;
  height: 200px;
  margin-bottom: 90px;
  margin-top: 20px;
}

.returnButton {
  display: inline-block;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: 3px solid #5E1D8B;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 100px;
  min-height: 40px;
  border-radius: 15px;
  background-color: #5E1D8B;
  font-size: 15px;
  font-weight: 500;
  margin-left: 75%;
  color: #FFF;
  transition: all 0.3s;
  letter-spacing: 1px;
}

.returnButton:hover{
  border: 3px solid #5E1D8B;
  background-color: #fff;
  color: #5E1D8B;
  font-size: 15px;
}

.productsWrapper h1{
  color: #EB6D05;
  font-weight: 100;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}


.ProductsRendering:nth-child(odd){
  float:left;
  width: 40%;
  margin-right:5%;
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ProductsRendering:nth-child(even){
  float:right;
  width: 40%;
  margin-right:5%;
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.productImage img{
  padding-top: 5px;
  height: 300px;
  width: 300px;
  padding-bottom: 5px;
}

.productInList button{
  background-color: #fff;
  border: none;
  border: 5px solid #fff;
  border-radius: 10px;
  color:#fff;
  transition: all 0.3s;
}

.ProductsRendering{
  padding-top: 5px;
}


.productInList button:hover span{
  background-color: #EB6D05;
  border: 2px solid #EB6D05;
}

.productInList span{
  display: inline-block;
  font-size: 30px;
  font-weight: 500;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 10px;
  margin-bottom: 4px;
  transition: all 0.3s;
  border: 2px solid #fff;
}

.productInList button:hover span:hover{
  color: #EB6D05;
  background-color: #fff;
}

/* *****
/* Rendered Product Design
/* ***** */

.setPriceRender{
  margin: 0 auto;
  width: 70%;
  display: inline-block;
}

.setPriceRender .productImage{
  float:left;
}



.setPriceRender button{
  display: inline-block;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: 3px solid #5E1D8B;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 100px;
  min-height: 40px;
  border-radius: 15px;
  background-color: #5E1D8B;
  font-weight: 500;
  color: #FFF;
  transition: all 0.3s;
  letter-spacing: 1px;
}

.setPriceRender button:hover{
  border: 3px solid #5E1D8B;
  background-color: #fff;
  color: #5E1D8B;
}

.productInfo {
  float: right;
  text-align: left;
  align-content: center;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 20px;
}



.productInfo h2{
  font-weight: 100;
}
.productInfo p{
  font-weight: 500;
}


.adminOwnerDisplay{
  font-size: 30px;
  color: #EB6D05;
}

.adminOwnerDisplay p{

}

.product-functionalities button{
  display: inline-block;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: 3px solid #5E1D8B;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 100px;
  min-height: 40px;
  border-radius: 15px;
  background-color: #5E1D8B;
  font-weight: 500;
  color: #FFF;
  transition: all 0.3s;
  letter-spacing: 1px;
}
.product-functionalities button:hover{
  border: 3px solid #5E1D8B;
  background-color: #fff;
  color: #5E1D8B;
}

/* *****
/* Input Design
/* ***** */

.field {
  width: 385px;
  height: 70px;
  position: relative;
  margin-bottom: 20px;
  align-content: center;
  margin-left: 33%;
}

/*.storeOwnerFunctionsWrapper .field{
  margin-left: -21.5%;
}*/
.field input {
  width: 100%;
  border-radius: 6px;
  height: 70px;
  border: 0;
  padding: 10px;
  padding: 10px 0 0 16px;
  font-size: 0;
  background: #F58016;
  transition: background 0.3s ease;
  color: #ffffff;
}
.field input:focus {
  background: #EB6D05;
  font-size: 20px;
  outline: none;
}
.field input:focus::selection {
  background: rgba(188, 232, 255, 0.5);
}
.field input.active {
  background: #065CB7;
  font-size: 23px;
}
.field input,
.field button {
  position: absolute;
  height: 70px;
}

.field input:focus + label {
  font-size: 19px;
  transform: translate(16px, 11px);
  color: rgba(255, 255, 255, 0.7);
}
.field label {
  position: absolute;
  color: white;
  transform: translate(16px, 20px);
  transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s 0.1s ease;
  font-size: 23px;
  width: 100%;
  text-align: left;
}
.field label.active {
  font-size: 19px;
  transform: translate(16px, 11px);
  color: rgba(255, 255, 255, 0.7);
}

.field input:focus + label + button {
  opacity: 1;
}


/* *****
/* truffle box css
/* ***** */

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Alegreya Sans', 'Arial Narrow', sans-serif;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}
